<div class="container mb-5 mt-3">
  <% if @user.how_many_modif_received? == 0 %>
  <span class="card-text mb-4"> Vous n'avez pas reçu de notification </span>
  <% else %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 15%">Auteur</th>
          <th style="width: 45%">Contenu du message de modification</th>
          <th style="width: 15%">Envoyé le</th>
          <th style="width: 15%">Etat</th>
          <th style="width: 10%">Lien</th>
        </tr>
      </thead>
      <tbody>
        <% modif = Modification.all.sort_by{ |modif| modif.updated_at}%>
        <% modif.reverse.each do |modification| %>
          <% if modification.subject.user.id == @user.id %>
          <tr>
            <td><%= link_to modification.user.nickname, user_path(modification.user.slug) %></span> </td>
            <td><%= modification.content %></td>
            <td><%= modification.updated_at.strftime("%d.%m à %H:%M") %></td>
          <% if modification.done == true %>
            <td><span class="label label-rounded label-success mr-1"><%= modification.done? %> </span> <%= link_to fa_icon("times-circle", style: "color: #2cdd9b").html_safe, subject_modification_path(modification.subject.slug, modification.id), method: :put, data: {confirm: "La modification n'est pas finie ?"} %></td>
          <% else %>
            <td><span class="label label-rounded label-info mr-1"><%= modification.done? %> </span> <%= link_to fa_icon("check-circle").html_safe, subject_modification_path(modification.subject.slug, modification.id), method: :put, data: {confirm: 'La modification est-elle terminée ?'} %></td>
          <% end %>
            <td><%= link_to "Ressource", subject_path(modification.subject.slug) %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</div>