<div class="container mb-5 mt-3">
  <% if JoinReadSubject.find_by(user_id: @user.id) == nil %>
    <span class="card-text mb-4"> Vous n'avez pas encore de ressources favorites </span>
  <% else %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Catégorie</th>
          <th>Difficulté</th>
          <th>Titre</th>
          <th>Enregistrée le </th>
          <th>Lien</th>
        </tr>
      </thead>
      <tbody>
        
        <% favorites = JoinReadSubject.all.sort_by{ |read| read.updated_at} %>
        <% favorites.reverse.each do |readsubject| %>
        <% subject = Subject.find_by(id: readsubject.subject_id) %>
        <tr>
          <td><span class="label label-rounded label-danger"><%= subject.category %></span> </td>
          <td><span class="label label-rounded label-info"><%= subject.difficulty %></span> </td>
          <td>
          <%= if subject.title.length > 50 
                subject.title[0..50] + '[..]'
              else 
                subject.title
              end %>
          </td>
          <td><%= readsubject.updated_at.strftime("%d.%m à %H:%M") %></td>
          <td><%= link_to "Lien", subject_path(subject.slug) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</div>