<div class="container mb-5 mt-3">
  <% if Subject.find_by(user_id: @user.id) == nil %>
    <span class="card-text mb-4"> Vous n'avez pas encore de ressources créées </span>
  <% else %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Catégorie</th>
            <th>Difficulté</th>
            <th>Titre</th>
            <th>Nombre de likes</th>
            <th>Lien</th>
          </tr>
        </thead>
        <tbody>
          <% favorites = Subject.all.sort_by{ |likes| likes.how_many_fav?} %>
          <% favorites.reverse.each do |subject| %>
          <% if subject.user.slug == params[:id] %>
          <tr>
            <td><span class="label label-rounded label-primary"><%= subject.category %></span> </td>
            <td><span class="label label-rounded label-info"><%= subject.difficulty %></span> </td>
            <td>
              <%= if subject.title.length > 50 
                subject.title[0..50] + '[..]'
              else 
                subject.title
              end %>
            </td>
            <td><%= subject.how_many_fav? %></td>
            <td><%= link_to "Lien", subject_path(subject.slug) %></td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>