<h1>Page Profil</h1>

<p>Bienvenue sur la page d'ajout d'un avatar pour le User portant l'id : <%=@user.id%></p>
<h3>Avatar actuel</h3>
<%if @user.profile_pic.attached?%>
  <span class="resize_profile"><%= image_tag @user.profile_pic, alt: 'profile_pic' %></span>
<%else%>
  <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
<%end%>

<h3>Changer de photo de profil ?</h3>
<%= form_tag user_profile_pics_path(@user), multipart: true do %>
  <%= file_field_tag :profile_pic %>
  <%= submit_tag "mettre à jour" %>
<% end %>