<div class="bg-light spacer up">
  <div class="container">
    <div class="row justify-content-center">
      <div class="wrap-feature4-box float-left mb-4">
        <%if @user.profile_pic.attached?%>
        <span><%= image_tag @user.profile_pic, alt: 'profile_pic', class:"img_sizing mr-5" %></span>
        <%else%>
        <div class="no_img_sizing bg-light-info mr-5 text-center ">
          <i class="fa fa-user fa-5x"></i>
        </div>
        <%end%>
      </div>

      <div class="wrap-feature4-box float-right">
        <h2 class="title"><%=@user.nickname.upcase%></h2>
        <% if @user.description == nil %>
        <h6 class="subtitle">Pour le moment vous n'avez pas de description liée à votre profil. Vous pouvez en ajouter une en modifiant votre profil.</h6>
        <% else %>
        <h6 class="subtitle"><%=@user.description%></h6>
        <% end %>
        <% if current_user.id == @user.id %>
        <div class="block-search text-right mt-auto">
          <div class="btn-group">
            <%= link_to "Editez votre profil", edit_user_path(current_user.slug), class:"btn btn-primary" %>
          </div>
          <div class="btn-group">
            <%= link_to "Paramètres du compte", edit_user_registration_path, class:"btn btn-info" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

<% if current_user.id == @user.id %>
<div class="container mb-5 mt-3">
  <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item disabled">
      <a class="nav-link disabled" id="pills-create-tab" data-toggle="pill" href="#pills-create" role="tab" aria-controls="pills-create" aria-selected="true">Ressources</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="pills-create-tab" data-toggle="pill" href="#pills-create" role="tab" aria-controls="pills-create" aria-selected="true">Créées</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-favorites-tab" data-toggle="pill" href="#pills-favorites" role="tab" aria-controls="pills-favorites" aria-selected="false">Favorites</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-inprogress-tab" data-toggle="pill" href="#pills-inprogress" role="tab" aria-controls="pills-inprogress" aria-selected="false">En Cours</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-finished-tab" data-toggle="pill" href="#pills-finished" role="tab" aria-controls="pills-finished" aria-selected="false">Terminées</a>
    </li>
  </ul>
  <div class="tab-content mt-5" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-create" role="tabpanel" aria-labelledby="pills-create-tab">
      <%= render 'user_subject_create' %>
    </div>
    <div class="tab-pane fade" id="pills-favorites" role="tabpanel" aria-labelledby="pills-favorites-tab">
      <%= render 'user_subject_favorite' %>
    </div>
    <div class="tab-pane fade" id="pills-inprogress" role="tabpanel" aria-labelledby="pills-inprogress-tab">
      <%= render 'user_subject_inprogress' %>
    </div>
    <div class="tab-pane fade" id="pills-finished" role="tabpanel" aria-labelledby="pills-finished-tab">
      <%= render 'user_subject_finished' %>
    </div>
  </div>
</div>
<% end %>

<% if current_user.id != @user.id %>
<div class="container mb-5 mt-3">
  <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-ressources-tab" data-toggle="pill" href="#pills-ressouces" role="tab" aria-controls="pills-ressources" aria-selected="true">Ressources Créées</a>
    </li>
  </ul>
  <div class="tab-pane fade show activ mt-5" id="pills-ressources" role="tabpanel" aria-labelledby="pills-ressources-tab">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Catégorie</th>
            <th>Titre</th>
            <th>Lien</th>
          </tr>
        </thead>
        <tbody>
          <% Subject.all.each do |subject| %>
          <% if subject.user_slug == params[:id] %>
          <tr>
            <td><span class="label label-rounded label-info"><%= subject.category %></span> </td>
            <td>
              <%= if subject.title.length > 50 
                          subject.title[0..50] + '[..]'
                        else 
                        subject.title
                        end %>
            </td>
            <td><%= link_to "Lien", subject_path(subject.slug) %></td>         
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>