
<div class="bg-light spacer feature20 up">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7">

        <div class="col-md-3 col-6 wrap-feature4-box float-left mb-4">
            <%if @user.profile_pic.attached?%>
              <span class="resize_profile"><%= image_tag @user.profile_pic, alt: 'profile_pic' %></span>
            <%else%>
              <div class="icon-round bg-light-info"><i class="fa fa-user fa-lg"></i></div>
            <%end%>
        </div>
        
        <h2 class="title"><%=@user.nickname.upcase%></h2>
        <h6 class="subtitle">Pour le moment vous n'avez pas de description liée à votre profil. Vous pouvez en ajouter une en modifiant votre profil.</h6>


        <div class="block-search mt-5">
        <div class="text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">
                    Editez votre profil
                </button>
            </div>
        <div class="btn-group">
                <button type="button" class="btn btn-info">
                    Paramètres du compte
                </button>
        </div>    

            <h3>Changer de photo de profil ?</h3>
            <%= form_tag user_profile_pics_path(@user), multipart: true do %>
              <%= file_field_tag :profile_pic %>
              <%= submit_tag "mettre à jour" %>
            <% end %>

      </div>
    </div>
  </div>
</div>
</div>
</div>


