<%= render "layouts/jumbotron" %>

<div class="bg-primary" id="1">
  <div class="container">
    <div class="row text-center text-white bg-primary">
      <div class="col-lg-3 col-md-6 col-12 wrap-feature4-box p-0">
        <div class="card bg-primary" data-aos="zoom-out-right" data-aos-duration="1200">
          <div class="card-body">
            <div class="icon-round"><i class="fa fa-window-maximize text-white" aria-hidden="true"></i></i></i></div>
            <h5 class="font-weight-bold text-white">Apprentissage</h5>
            <p class="font-weight-normal">Apprendre de manière concise et explicite grâce à des expériences d’apprentissage d’autres membres de la communauté.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 wrap-feature4-box p-0">
        <div class="card bg-primary" data-aos="zoom-out-left" data-aos-duration="1200">
          <div class="card-body">
            <div class="icon-round"><i class="fa fa-users text-white" aria-hidden="true"></i></div>
            <h5 class="font-weight-bold text-white">Communauté</h5>
            <p class="font-weight-normal">Une communauté bienveillante pour échanger et communiquer avec d’autres passionnés ayant les mêmes envies d’apprendre que vous.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 wrap-feature4-box p-0">
      <div class="card bg-primary" data-aos="zoom-out-left" data-aos-duration="1200">
        <div class="card-body">
          <div class="icon-round"><i class="fa fa-hand-peace-o text-white" aria-hidden="true"></i></div>
          <h5 class="font-weight-bold text-white">Accessible à tous</h5>
          <p class="font-weight-normal">Nos ressources sont accessibles gratuitement et chaque membre peut y contribuer à sa manière.</p>
        </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 wrap-feature4-box p-0">
        <div class="card bg-primary" data-aos="zoom-out-left" data-aos-duration="1200">
          <div class="card-body">
            <div class="icon-round"><i class="fa fa-wifi text-white" aria-hidden="true"></i></div>
            <h5 class="font-weight-bold text-white">Mise en relation</h5>
            <p class="font-weight-normal">Des ressources recensant les meilleurs liens d’internet soigneusement sélectionnés par nos membres.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container spacer stats">
  <div class="row">
      <div class="col-12 col-lg-6 ">
          <div class="card card-shadow">
              <div class="card-body row justify-content-between ml-2 mr-2">
                  <h2 class="mb-0 mt-2"><%= User.all.length %></h2>
                  <div class="row">
                    <div class="text-right mt-3">
                      <h6 class="card-text">Utilisateurs</h6>
                    </div>
                    <i class="fa fa-users text-primary fa-3x ml-3" aria-hidden="true"></i>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-12 col-lg-6">
          <div class="card card-shadow">
              <div class="card-body row justify-content-between ml-2 mr-2">
                  <h2 class="mb-0 mt-2"><%= Subject.all.length %></h2>
                  <div class="row">
                    <div class="text-right mt-3">
                      <h6 class="card-text">Ressources</h6>
                    </div>
                    <i class="fa fa-file-text-o text-primary fa-3x ml-3" aria-hidden="true"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-12 col-lg-6">
          <div class="card card-shadow">
              <div class="card-body row justify-content-between ml-2 mr-2">
                  <div class="row">
                   <i class="fa fa-comment-o text-primary fa-3x mr-3" aria-hidden="true"></i>
                    <div class="text-left">
                      <h6 class="card-text mt-3">Commentaires</h6>
                    </div>
                  </div>
                  <h2 class="mb-0 mt-2"><%= Comment.all.length %></h2>
              </div>
          </div>
      </div>
      <div class="col-12 col-lg-6">
          <div class="card card-shadow">
              <div class="card-body row justify-content-between ml-2 mr-2">
                  <div class="row">
                    <i class="fa fa-clock-o text-primary fa-3x mr-3" aria-hidden="true"></i>
                    <div class="text-left">
                      <h6 class="card-text mt-3">Lectures</h6>
                    </div>
                  </div>
                  <h2 class="mb-0 mt-2">251 h</h2>
              </div>
          </div>
      </div>
  </div>

</div>


  <div class="spacer feature20 up story-landing">
    <div class="container-large">
      <h2 class="font-weight-bold text-dark">Lancez vous et ...</h2>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12 mt-3">
          <div class="card bg-light">

            <div class="card-body text-center">
              <div class="bulle-card bg-primary"><i class="fa fa-search text-white fa-2x icon-card-bulle" aria-hidden="true"></i></div>
              <h5 class="card-title text-uppercase mb-0">Recherchez</h5>
              <p class="card-title text-uppercase">_</p>
              <p class="card-text">Accéder à l’ensemble des ressources du site accessibles via des catégories une barre de recherche.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mt-3">
          <div class="card bg-light">
        
            <div class="card-body text-center">
              <div class="bulle-card bg-primary"><i class="fa fa-book text-white fa-2x icon-card-bulle" aria-hidden="true"></i></div>
              <h5 class="card-title text-uppercase mb-0">Apprenez</h5>
              <p class="card-title text-uppercase">_</p>
              <p class="card-text">Consulter autant de ressources de votre choix et diversifiez vos compétences professionnelles grâce à d’autres membres de la communauté.</p>
            </div>
          </div>
        </div>
         <div class="col-lg-3 col-md-6 col-12 mt-3">
            <div class="card bg-light">
        
            <div class="card-body text-center">
              <div class="bulle-card bg-primary"><i class="fa fa-handshake-o text-white fa-2x icon-card-bulle" aria-hidden="true"></i></div>
              <h5 class="card-title text-uppercase mb-0">Partagez</h5>
              <p class="card-title text-uppercase">_</p>
              <p class="card-text">Créer vos propres ressources en partageant vos expériences d’apprentissage et échangez avec la communauté.</p>
            </div>
          </div>
        </div>
         <div class="col-lg-3 col-md-6 col-12 mt-3">
            <div class="card bg-light">
        
            <div class="card-body text-center">
              <div class="bulle-card bg-primary"><i class="fa fa-pencil text-white fa-2x icon-card-bulle" aria-hidden="true"></i></div>
              <h5 class="card-title text-uppercase mb-0">Améliorez</h5>
              <p class="card-title text-uppercase">_</p>
              <p class="card-text">Proposer des modifications à apporter à des ressources déjà existantes. Vos modifications seront soumises à l’auteur.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<%= render "layouts/call_to_action" %>
