 <div class="container">
  <div class="card mb-3 mt-5 border-0">
    <div class="row no-gutters">
      <div class="col-md-5">
        <%= cl_image_tag("book_about.jpg", class: "card-img", alt: "book") %>
      </div>
      <div class="col-md-7 pl-3">
        <div class="card-body">
          <h1 class="title">À l'origine de WhiteBoard</h1>
          <p class="card-text">Aujourd’hui, le web joue un rôle majeur dans l’apprentissage d’une nouvelle compétence, que ce soit à l’école, en formation professionnelle, au travail, ou même chez soi. Il est cependant facile de s’y perdre au vu de la quantité et de la richesse des ressources disponibles…. Comment s’y retrouver ? Par où commencer ? Nous passons plus de temps à rechercher de l’information sur internet plutôt qu’à lire l'information elle-même. La surcharge cognitive et l’infobésité nous donne l’illusion d’une certaine productivité. C’est ainsi que nous est venu l’idée de Whiteboard : une plateforme regroupant des ressources sélectionnées par des passionnés, pour des passionnés ayant la soif d’apprendre et de transmettre.</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="card mb-3 border-0">
    <div class="row no-gutters">
      <div class="col-md-7  pr-3">
        <div class="card-body">
          <h1 class="title">Qu’est-ce que WhiteBoard ?</h1>
          <p class="card-text">Whiteboard est un site de partage d’expériences d’apprentissage. Les membres de notre communauté décrivent leur méthodes d’apprentissage et relaient leurs livres, vidéos, podcasts, articles ou autre, très souvent disponibles en accès libre sur internet. Notre concept découle du Self-Learning, méthode qui consiste à apprendre soi-même avec la quantité de ressources disponibles à notre portée. Du Self-Learning nous voulons créer du Common-Learning. WhiteBoard est accessible gratuitement à tous.</p>
        </div>
      </div>
      <div class="col-md-5">
        <%= cl_image_tag("people_about.jpg", class: "card-img", alt: "people") %>
      </div>
    </div>
  </div>
  <hr>
  <div class="card mb-3 mt-5 border-0">
    <div class="row no-gutters">
      <div class="col-md-5">
        <%= cl_image_tag("computer_about.jpg", class: "card-img", alt: "computer") %>
      </div>
      <div class="col-md-7 pl-3">
        <div class="card-body">
          <h1 class="title">Comment fonctionne WhiteBoard ?</h1>
          <p class="card-text">En vous créant un compte sur WhiteBoard, vous devenez un membre de notre communauté et avez accès à une quantités de ressources créées par d’autres membres et classées par catégories et niveau de difficulté. Les ressources peuvent également être éditées par leur créateur ce qui permet de les maintenir. Chaque membre a également accès à son espace personnel (Board), qui résume ses ressources créées, préférées, suivies et terminées. Les membres peuvent également suggérer la modification d'une ressource à son auteur via un formulaire.</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
  
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 text-center">
      <h1 class="title">Les 4 piliers de Whiteboard</h1>
    </div>
  </div>
  <div class="row m-t-40">
    <div class="col-md-6 wrap-feature4-box">
      <div class="card" data-aos="zoom-out-right" data-aos-duration="1200">
        <div class="card-body">
          <div class="icon-round"><i class="fa fa-window-maximize" aria-hidden="true"></i></div>
          <h5 class="font-medium">Apprentissage</h5>
          <p class="m-t-20">Apprendre de manière concise et explicite grâce à des expériences d’apprentissage d’autres membres de la communauté</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 wrap-feature4-box">
      <div class="card" data-aos="zoom-out-left" data-aos-duration="1200">
        <div class="card-body">
          <div class="icon-round"><i class="fa fa-users" aria-hidden="true"></i></div>
          <h5 class="font-medium">Communauté</h5>
          <p class="m-t-20">Une communauté bienveillante pour échanger et communiquer avec d’autres passionnés ayant les mêmes envies d’apprendre que vous</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-t-40">
    <div class="col-md-6 wrap-feature4-box">
      <div class="card" data-aos="zoom-out-right" data-aos-duration="1200">
        <div class="card-body">
          <div class="icon-round"><i class="fa fa-hand-peace-o" aria-hidden="true"></i></div>
          <h5 class="font-medium">Accessible à tous</h5>
          <p class="m-t-20">Nos ressources sont accessibles gratuitement et chaque membre peut y contribuer à sa manière</p>
         </div>
      </div>
    </div>
    <div class="col-md-6 wrap-feature4-box">
      <div class="card" data-aos="zoom-out-left" data-aos-duration="1200">
        <div class="card-body">
          <div class="icon-round"><i class="fa fa-wifi" aria-hidden="true"></i></div>
          <h5 class="font-medium">Mise en relation</h5>
          <p class="m-t-20">Des ressources recensant les meilleurs liens d’internet soigneusement sélectionnés par nos membres</p>
         </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-2 team2">
  <div class="container">
    <div class="row justify-content-center m-b-30">
      <div class="col-md-7 text-center">
        <h2 class="title">L'équipe</h2>
      </div>
    </div>
    <div class="row m-t-30 justify-content-center">
      <div class="col-md-3 m-b-30">
        <div class="row no-gutters">
          <div class="col-md-12 pro-pic" style="center center no-repeat / cover">
            <%= cl_image_tag("julien_about.jpg", class: "card-img", alt: "book") %>
            <div class="card-img-overlay">
              <ul class="list-inline">    
                <li class="list-inline-item"><a href="https://github.com/ZeddBox"><i class="fa fa-github"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/julienanceau/"><i class="fa fa-linkedin"></i></a></li>   
                <li class="list-inline-item"><a href="https://www.instagram.com/zed.julien.a/"><i class="fa fa-instagram"></i></a></li>    
              </ul>
            </div>
          </div>
            <div class="col-md-12">
              <div class="p-t-10">
                <h5 class="title font-medium">Julien Anceau</h5>
                <h6 class="subtitle">Master Rails</h6>
                <p>C'est lui le boss, une question ? Allez voir Julien!</p>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-3  m-b-30">
        <div class="row no-gutters">
          <div class="col-md-12 pro-pic" style="center center no-repeat / cover">
            <%= cl_image_tag("chris_about.jpg", class: "card-img", alt: "book") %>
              <div class="card-img-overlay">
                <ul class="list-inline">    
                  <li class="list-inline-item"><a href="https://github.com/ChrisBlassiaux"><i class="fa fa-github"></i></a></li>
                  <li class="list-inline-item"><a href="https://www.linkedin.com/in/christopher-blassiaux-802891198/"><i class="fa fa-linkedin"></i></a></li>   
                  <li class="list-inline-item"><a href="https://www.instagram.com/chris.blassiaux/"><i class="fa fa-instagram"></i></a></li>    
                  <li class="list-inline-item"><a href="https://chrisb.fr/"><i class="fa fa-link"></i></a></li>
                </ul>
              </div>
          </div>
          <div class="col-md-12">
            <div class="p-t-10">
              <h5 class="title font-medium">Chris Blassiaux</h5>
              <h6 class="subtitle">Maître Git</h6>
              <p>Il push et il pull de tous les côtés... Et en plus ? Il fait du front!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3  m-b-30">
        <div class="row no-gutters">
          <div class="col-md-12 pro-pic" style="center center no-repeat / cover">
            <%= cl_image_tag("alex2_about.jpg", class: "card-img", alt: "book") %>
            <div class="card-img-overlay">
              <ul class="list-inline">    
                <li class="list-inline-item"><a href="https://github.com/AlexFrz"><i class="fa fa-github"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/alex-frezoul-311000132/"><i class="fa fa-linkedin"></i></a></li>   
                <li class="list-inline-item"><a href="https://www.instagram.com/imaleeph/"><i class="fa fa-instagram"></i></a></li>    
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="p-t-10">
              <h5 class="title font-medium">Alex Frezoul</h5>
              <h6 class="subtitle">Maître funky style</h6>
              <p>Le fifou du Sud-Ouest, des idées plein la tête. N'y pensez même pas, il l'a déjà fait...</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="row m-t-30 justify-content-center">
      <div class="col-md-3  m-b-30">
        <div class="row no-gutters">
          <div class="col-md-12 pro-pic" style="center center no-repeat / cover">
            <%= cl_image_tag("lucas_about.jpg", class: "card-img", alt: "book") %>
                <div class="card-img-overlay">
                  <ul class="list-inline">    
                    <li class="list-inline-item"><a href="https://github.com/elviajero971"><i class="fa fa-github"></i></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/lucas-illiano/"><i class="fa fa-linkedin"></i></a></li>   
                    <li class="list-inline-item"><a href="https://www.instagram.com/lucasilliano/"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
            </div>
            <div class="col-md-12">
              <div class="p-t-10">
                <h5 class="title font-medium">Lucas Illiano</h5>
                <h6 class="subtitle">Mister Trello</h6>
                <p>Un loup de mer qui essaie d'associer le code, l'eau salée et le sable chaud.</p>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-3  m-b-30">
        <div class="row no-gutters">
          <div class="col-md-12 pro-pic" style="center center no-repeat / cover">
            <%= cl_image_tag("jessica_about.jpg", class: "card-img", alt: "book") %>
            <div class="card-img-overlay">
              
              <ul class="list-inline">    
                <li class="list-inline-item"><a href="https://github.com/jessicaleclercq"><i class="fa fa-github"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/jessica-alida-l-96289291/"><i class="fa fa-linkedin"></i></a></li>
                <li class="list-inline-item"><a href="https://www.instagram.com/jessielec/"><i class="fa fa-instagram"></i></a></li>   
              </ul>
            </div>
          </div>
            <div class="col-md-12">
              <div class="p-t-10">
                <h5 class="title font-medium">Jessica Leclercq</h5>
                <h6 class="subtitle">Miss content</h6>
                <p>En manque d'inspiration ? Besoin d'un conseil design ? Elle saura vous répondre!</p>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>
