<%= form_with(model: subject, local: true) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field form-group shadow-textarea no-font pl-5 pr-5">
    <%= form.text_field :title, class: "form-control z-depth-1", placeholder: "# Titre du sujet" %>
  </div>

  <div class="field form-group shadow-textarea pl-5 pr-5">
    <%= form.text_area :content, class: "form-control z-depth-1", placeholder: "Écris ton contenu...", rows: "20" %>
  </div>


<div class="row justify-center">
  <div class="col-md-25 ml-1">
      <div class="field ml-2 pl-5">
        <%= form.select(:difficulty, ['Débutant', 'Intermédiaire', 'Avancé'], {include_blank: "Difficulté"}, :class => 'btn btn-primary dropdown-toggle pl-5 pr-5') %>
      </div>
    </div>

<div class="col-md-25 ml-1">
    <div class="field ml-0">
      <%= form.select(:sub_category, ['Cuisine', 'Sport', 'Bien-être'], {include_blank: "Sous-catégorie"}, :class => 'btn btn-primary dropdown-toggle pl-5 pr-5') %>
    </div>
</div>

<div class="col-md-5 ml-0">
</div>
 
  <div class="actions">
    <%= button_tag(type: 'submit', :class => 'btn btn-danger-gradiant btn-arrow', id: 'validForm') do %>
    <span class="white-text mr-1 pl-5 pr-5"> CRÉER</span>
    <% end %>
  </div>
  </div>
</div>
<% end %>
