
<div class="feature4 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="title">Recherche</h2>
        <h6 class="subtitle">Affinez votre recherche en sélectionnant une catégorie et en cherchant une partie du titre des ressources</h6>
      </div>
    </div>
  </div>
</div>
<div class="feature4">
  <div class="container">
   <div class="block-search mt-2">
      <div class="form-inline justify-content-center text-center mb-5">
        <div class="form-group mb-2">
          <%= form_tag subjects_path, method: 'GET', :class => "" do %>
            <%= collection_select(:category, :name, Category.all, :name, :name, {include_blank: "Catégorie"}, :class => "btn btn-danger-gradiant dropdown-toggle pl-5 pr-5 mr-2") %>
            <%= text_field_tag 'query', "", class: 'form-control', placeholder: 'Recherche..' %>
            <%= button_tag 'Rechercher', :class => 'btn btn-secondary mr-2'%>
          <% end %>
        </div>
        <div class="form-group mb-2">
          <%= form_tag subjects_path, method: 'GET' do %>
            <%= button_tag 'Effacer', :class => 'btn btn-outline-danger'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if params[:category] && params[:category][:name] || params[:query] %>
  <%= render 'search_result', subject: @subjects %>
  <%= render 'top_six_subjects' %>
<% else %>
  <%= render 'top_six_subjects' %>
<% end %>