
<div class="feature4 mb-5 mt-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="title">Recherche</h2>
        <h6 class="subtitle">Affinez votre recherche en sélectionnant une catégorie et en cherchant une partie du titre des ressources</h6>
      </div>
    </div>
  </div>
</div>
<div class="feature4">
  <div class="container">
   <div class="mt-2">
      <div class="mb-5 block-search">
          <%= form_tag subjects_path, method: 'GET', :class => "" do %>
            <%= collection_select(:category, :name, Category.all, :name, :name, {include_blank: "Catégorie"}, :class => "btn btn-primary-gradiant dropdown-toggle mr-3 bg-dark") %>
            <%= text_field_tag 'query', "", class: 'form-control form-control-3', placeholder: 'Recherche..' %>
            <%= button_tag 'Rechercher', :class => 'btn btn-secondary'%>
          <% end %>
          <%= form_tag subjects_path, method: 'GET' do %>
            <%= button_tag 'Effacer', :class => 'btn btn-outline-primary btn-erase'%>
          <% end %>
      </div>
    </div>
  </div>
</div>
<% if params[:category] && params[:category][:name] || params[:query] %>
  <%= render 'search_result', subject: @subjects %>
  <%= render 'top_six_subjects' %>
<% else %>
  <%= render 'top_six_subjects' %>
<% end %>
