<div class="spacer-show feature4">
  <div class="container">
    <div class="row mt-5">
      <div class="ml-3 mr-3 w-100">
        <div class="card card-shadow">
          <div class="card-body">

            <div class="mb-3">
              <h2 class="font-weight-bold"><%= @subject.title %></h2>
            </div>

            <div class="d-sm-flex justify-content-between align-items-center mb-4">
              <div class="author row ml-2">
                <div class="mr-3">
                  <% if @user.profile_pic.attached? %>
                  <%= image_tag @user.profile_pic, class: "img_sizing-show-subject" %>
                  <%else%>
                  <%= cl_image_tag("avatar.png", :class => "img_sizing-show-subject") %>
                  <% end %>
                </div>
                <h5 class="pt-3 pb-3">
                  <%= link_to @user.nickname, user_path(@user.id), class:"" %>
                </h5>
              </div>

              <div class="intro-subject-show row mr-2">
                <div class="fav-contain" id="fav-container">
                  <% if JoinFavSubject.find_by(subject_id: @subject.id, user_id: current_user.id) %>
                  <%= render 'join_fav_subject/fav_false' %>
                  <% else %>
                  <%= render 'join_fav_subject/fav_true' %>
                  <% end %>
                </div>
                <h5 class="p-2 mr-2"><strong><%= @subject.category %></strong></h5>
                <h5 class="border border-dark p-2"><strong><%= @subject.difficulty %></strong></h5>
              </div>
            </div>


            <%= markdown(@subject.content) %>

            <hr>
            <div class="d-sm-flex">
              <div class="mt-2" id="container-read">
                <% if JoinReadSubject.find_by(subject_id: @subject.id, user_id: current_user.id) %>
                <%= render 'join_read_subject/read_false' %>
                <% else %>
                <%= render 'join_read_subject/read_true' %>
                <% end %>
              </div>
              <div class="mt-2" id="container-validate">
                <% if JoinValidateSubject.find_by(subject_id: @subject.id, user_id: current_user.id) %>
                <%= render 'join_validate_subject/validate_false' %>
                <% else %>
                <%= render 'join_validate_subject/validate_true' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <% if current_user.id == @subject.user_id %>
      <%= link_to 'Supprimer', subject_path(@subject.id), method: :delete, data: {confirm: 'Es-tu sûr de vouloir supprimer cette ressource ?'}, class:"btn btn-outline-danger mb-2" %>
      <%= link_to 'Modifier', edit_subject_path(@subject), class:"btn btn-outline-secondary mb-2" %>
      <% end %>
      <%= link_to "Retour à l'accueil", subjects_path, class:"btn btn-outline-secondary mb-2" %>
    </div>
  </div>

  <div class="container mb-5 mt-5">
    <div class="card card-shadow comment">
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center mb-5"> Commentaires </h3>
          <div class="row">
            <div class="col-md-12">
              <%= render @subject.comments %>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-2" id="form-comment">
        <%= render "comments/form" %>
      </div>
    </div>
  </div>
</div>