<div class="spacer feature4">
  <div class="container">
    <div class="row mt-5">
      <div class="ml-3 mr-3 w-100">
        <div class="card card-shadow">
          <div class="card-body">
            <div class="card-body">
              <div class="float-right">
                <%= link_to join_fav_subject_path(params[:id]), remote: true, method: 'put' do %>
                <i class="fa fa-bookmark fa-2x mr-4 mt-1 icon-bookmark" aria-hidden="true">ADD</i>
                <% end %>
                <%= link_to join_fav_subject_path(params[:id]), remote: true, method: 'delete' do %>
                <i class="fa fa-bookmark fa-2x mr-4 mt-1 icon-bookmark" aria-hidden="true">DELETE</i>
                <% end %>
                <h5 class="float-right border border-dark p-2"><strong><%= @subject.difficulty %></strong></h5>
                <h5 class="float-right border border-dark p-2"><strong><%= @subject.category %></strong></h5>
              </div>
              <h2><%= @subject.title %></h2>
              <%= markdown(@subject.content) %>
            </div>
            <div class="card-footer">
              <div class="row pl-3 pr-3">
                <div class="rating">
                </div>
                <h6 class="mt-3 ml-3 text-success"></h6>
                <div class="ml-auto mt-2">
                  <%= form_with method: "PUT", url: join_read_subject_path  do |form| %>
                  <%= form.submit "Suivre".html_safe, class:"btn btn-secondary btn-outline"%>
                  <% end %>
                  <%= form_with method: "DELETE", url: join_read_subject_path  do |form| %>
                  <%= form.submit "Ne plus suivre".html_safe, class:"btn btn-secondary btn-outline"%>
                  <% end %>
                  <%= form_with method: "PUT", url: join_validate_subject_path  do |form| %>
                  <%= form.submit "Noté comme terminée".html_safe, class:"btn btn-secondary btn-outline ml-3"%>
                  <% end %>
                  <%= form_with method: "DELETE", url: join_validate_subject_path  do |form| %>
                  <%= form.submit "Noté comme non-terminée".html_safe, class:"btn btn-secondary btn-outline ml-3"%>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="text-center">
      <%= link_to 'Supprimer', subject_path(@subject.id), method: :delete, data: {confirm: 'Es-tu sûr de vouloir supprimer cette ressource ?'}, class:"btn btn-outline-danger" %>
      <%= link_to 'Modifier', edit_subject_path(@subject), class:"btn btn-outline-secondary" %>
      <%= link_to 'Retour', subjects_path, class:"btn btn-outline-secondary" %>
    </div>
  </div>


  <div class="bg-light spacer up">
    <div class="container">
      <div class="row justify-content-center">
        <div>
          <div class="wrap-feature4-box float-left mb-4">
            <% if @user.profile_pic.attached? %>
            <span><%= image_tag @user.profile_pic, alt: 'profile_pic', class:"img_sizing mr-5" %></span>
            <%else%>
            <div class="no_img_sizing bg-light-info mr-5 text-center"><i class="fa fa-user fa-5x"></i></div>
            <% end %>
          </div>
          <p class="title">Auteur</p>
          <h2 class="title"><%= @user.nickname.upcase %></h2>
          <h6 class="subtitle"><%= @user.description %></h6>
          <div class="block-search mt-5">
            <div class="btn-group">
              <%= link_to "Voir profil", user_path(@user.id), class:"btn btn-primary" %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
