<div class="spacer mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h1 class="title font-bold">Se connecter</h1>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-group mb-3">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
          <div class="form-group mb-3">
          <div class="field">
            <%= f.label :mot_de_passe %><br />
            <%= f.password_field :password, autocomplete: "votre mot de passe", class: "form-control" %>
          </div>
          <div class="form-group mb-3 mt-3">
            <div class="checkbox checkbox-success">
                <input id="checkbox1" type="checkbox">
                <label for="checkbox1">Se souvenir de moi</label>
            </div>
          </div>
          <div class="form-group mb-3">
            <%= f.submit "Se connecter", class: "btn btn-danger-gradiant m-r-10 mb-3" %><br>
            <%= render "devise/shared/links" %>
          </div>
          <% end %>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
