<div class="header1 po-relative bg-dark">
  <div class="container">
    
    <nav class="navbar navbar-expand-lg h2-nav">
      <%= link_to root_path, method: "GET", class: "logo-nav" do %>
      <% end %>
      <%= link_to "WhiteBoard", root_path, :class => "logo-text-nav" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header1" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="ti-menu"></span>
      </button>
        
      <div class="collapse navbar-collapse" id="header1">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item"><%= link_to "Créer une ressource", new_subject_path, :class => "nav-link" %></li>
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="dropdown-toggle btn btn-outline-info" href="#" id="h1-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <%= current_user.nickname %> <i class="fa fa-angle-down m-l-5"></i>
              </a>
              <ul class="b-none dropdown-menu animated fadeInUp">
                <li><%= link_to "Mon Board", user_path(current_user.id), class: "dropdown-item" %></li>
                <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, :class => "dropdown-item"  %></li>            
              </ul>
            </li>
          <% else %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="h1-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Connexion <i class="fa fa-angle-down m-l-5"></i>
              </a>
              <ul class="b-none dropdown-menu animated fadeInUp">
                <li><%= link_to "S'inscrire", new_user_registration_path, :class => "dropdown-item" %></li>
                <li><%= link_to "Se connecter", new_user_session_path, :class => "dropdown-item" %></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>  
</div>  
