<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>WhiteBoard</title>

    <link href="assets/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="wrapkit/css/style.css" rel="stylesheet">
    <link href="wrapkit/css/index-landingpage/landing-page.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  
  <body>
    <%= render "layouts/navbar" %>
    <%= render 'layouts/flash' %>
    <%= yield %>
    <%= render "layouts/footer" %>


    <script src="vendor/assets/javascripts/jquery.js"></script>

    <script src="vendor/assets/javascripts/popper.min.js"></script>
    <script src="vendor/assets/javascripts/bootstrap.js"></script>

    <script src="vendor/assets/javascripts/custom.js"></script>
  </body>
</html>
